.App {
  display: grid;
  grid-template-rows: 100px repeat(5, 75px);
  grid-template-columns: repeat(4, 75px);
  border: solid black;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
}


#display {
  grid-column-start: 1;
  grid-column-end: 5;
  background-color: #898AA6;
  color: white;
  font-size: 2.5rem;
  display: flex;
  flex-direction: column;
  border-radius: 8px 8px 0px 0px;
  border: 1px solid black;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #D6EFED;
  
}

#clear {
  grid-column: 1 / span 2;
}

#equals {
  grid-column: 3 / span 2;
}

.result {
align-self: flex-end;
margin-right: 30px;
overflow-wrap: break-word;
}

button {
  cursor: pointer;
  border: 1px solid black;
}

.operand {
  color: black;
  overflow:hidden;
  margin-left: 10px;
}

#display-bottom {
  display: flex;
  justify-content: flex-end;
}

#display-top {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px 0px 10px;
}

.bottom-button-left {
  border-radius: 0px 0px 0px 8px;
}

.bottom-button-right {
  border-radius: 0px 0px 8px 0px;
}

.blink-2 {
	-webkit-animation: blink-2 0.9s infinite both;
	animation: blink-2 0.9s infinite both;
}
@-webkit-keyframes blink-2{0%{opacity:1}50%{opacity:.2}100%{opacity:1}}@keyframes blink-2{0%{opacity:1}50%{opacity:.2}100%{opacity:1}}

h3 {
  margin-left: 50px;
}